<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" href="{{ request.url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="contenedor">
        <nav>
            <a href="/temperatura/20">Temperatura</a>
            <a href="/vocales/hola mundo">Vocales</a>
            <a href="/pendientes">Pendientes</a>
        </nav>
        <h1>{% block encabezado %}Bienvenido{% endblock %}</h1>
        <div>
            {% block contenido %}{% endblock %}
        </div>
    </div>
</body>
</html>
